@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');







@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   font-family: "Roboto", sans-serif;
}


.custom-datepicker {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

.custom-datepicker input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
}

.custom-datepicker input:focus {
    border: 1px solid #007BFF;
}

